.footer-media-ottis{
    background-color: #00375F;
    color: white;
    text-decoration:none;
}
.footer-ottis{
    background-color: #00528d;
    color: white;
    text-decoration:none;
}
#enlace-ottis{
    text-decoration:none;
}
.contacto{
    background-color: transparent;
    border: none;
    position: fixed;
    max-width: 80%!important;
    width: 7rem;
    height: auto;
    bottom: 100px;
    right: 10px;
    /* color: #fff; */
    border-radius: 50px;
    z-index: 100;
}
.heading-denuncia {
    text-align: center;
    font-family: 'OTTIS'
}
.info{
    font-family: 'OTTIS';
    text-align: justify;
}
/* .info-dijin{
    text-align: center;
} */
.author{
    background-color: #f0f0f0;
    text-align: center;
    height: 15vh;
    /* background-color: darkgray; */
    margin-bottom: 2%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px grey;
    
}