#div-title{
    top: -20%;
    /* display: block; */
    position: relative;
    z-index: 2;
    /* background-color: rgb(0, 66, 66); */
}

.wellcome{
    position: absolute;
    top: 20vw;
    font-family: 'OTTIS_Titulo1'; 
    color: white;
}
.conecta{
    background:linear-gradient(to right, #00528D, #001C51);
    padding-top: 5%;
    padding-bottom: 5%;
    height: 100%;
}
.contenido{
    margin-bottom: 5%;
}
.title-conecta{
    /* position: absolute; */
    font-family: 'OTTIS_Titulo1'; 
    color: white;
    /* font-size: 4vw;  */
}
.sub-title-contacto{
    font-family: 'OTTIS_Titulo1';
    color: white;
    vertical-align: middle;
}
.texto-contacto{
    font-family: 'OTTIS';
    color: white;
    vertical-align: middle;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
.flexbox {
    align-items: center;
    display: flex;
    justify-content: center;
}
.icono{
    vertical-align: middle;
    display: flex;
    justify-content: center;
}  
form{
    background-color: darkgray;
    padding-top: 50px;
    width: 100%!important;
}
.btn-form{
    text-align: center;
    color: white;
    background-color: #00528d;
    border-radius: 24px;
    margin-left: 25%;
    width: 50%;

}
.btn-form:hover{
    color: #00529b;
    background-color: white;
    border-radius: 24px;
}
.cont{
    background-color: darkgray;
    padding-top: 50px;
    width: 100%!important;
}
.banner-crc{
    display: none;
}
.message-warning{
    display: none;
}
.message-success{
    display: none;
}