.imagen-fondo{
    z-index: -1;
}
/* .caja{
    background-image: "./imagenes/contacto/imagen_contacto-100.jpg";
} */
.title{
    
    margin: 100px 100px;
    font-family: 'OTTIS_Titulo1'; 
    color: white;
    font-size: 75px;
    z-index: 2;
}
.text{
   
    font-family: 'OTTIS_Titulo1'; 
    color: white;
    font-size: 75px;
}