#div-title{
    top: -20%;
    /* display: block; */
    position: relative;
    z-index: 2;
    /* background-color: rgb(0, 66, 66); */
}

.wellcome{
    position: absolute;
    top: 20vw;
    font-family: 'OTTIS_Titulo1'; 
    color: white;
}
.conecta{
    background:linear-gradient(to right, #00528D, #001C51);
    padding-top: 2%;
    
}
.title-ventajas{
    /* position: absolute; */
    text-align: center;
    font-family: 'OTTIS_Titulo1'; 
    color: white;
    /* font-size: 4vw;  */
}
.title-card{
    /* position: absolute; */
    text-align: center;
    font-family: 'OTTIS_Titulo1'; 
    color: #00718d;
    /* font-size: 4vw;  */
}
.sub-title-card{
    font-family: 'OTTIS';
    text-align: center;
    color: #00718d;
}
.text-card{
    text-align: center;
    font-family: 'OTTIS';
    color: #00718d;
    vertical-align: middle;
}
.card-slider{
    background-color: white;
    text-align: center;
    width: 350px;
    height: 400px;
    /* left: 50%; */
}
.img-card{
    height: 150px;
}
.carousel-item{
    left: calc(50% - 175px);
}
@media (max-width:769px) {
    .img-card{
        height: 120px;
    }
    .carousel-item{
        left: calc(50% - 125px);
    }
    .card-slider{
        width: 250px;
        height: 370px;
    }
}