.imagen{
    width: 1920px;
    height: 888px;
    background-image: url("../imagenes/planes/Mesa_de_trabajo_2.png");
    background-size: cover;
    background-repeat: no-repeat;
}







/* .refence_box{
    position: absolute;
    display: inline-block;
} */

/* .wellcome{
    position: relative ;
    font-family: 'OTTIS_Titulo1'; 
    color: blue;
    font-size: 56px; 
} */


/* .ottis_comunicaciones{
    position: absolute;
    top: 18vw;
    font-family: 'OTTIS_Titulo2'; 
    color: white;
    font-size: 2.4vw;
}

.resource_red{
    position: absolute;
    top: 18vw;
    width: 28vw;
    height: 6vw;
}

.description{
    position: absolute;
    top: 22vw;
    font-family: 'OTTIS_Titulo3'; 
    color: white;
    font-size: 1vw;
}



.red_box{
    position: relative;
    background-color: #AE032F;
    height: 200px;
}

.payment{
    position: absolute!important;
    top: 3vw;
    font-family: 'OTTIS_Titulo4'; 
    color: white;
    font-size: 30px;
}

.debt{
    position: absolute!important;
    top: 3vw;
    font-family: 'OTTIS_Titulo4'; 
    color: white;
    font-size: 30px;
}

.recurso2{
    position: absolute;
    top: 65px;
    left: 245px;
    width: 15%;
}

.recurso3{
    position: absolute;
    top: 65px;
    left: 875px;
    width: 15%;
}

.caja_blanca{
    position: relative;
    background-color: white;
    height: 200px;
}

.icono1{
    position: absolute;
    top: 40px;
    left: -15px;
    width: 35%;
}

.texto6{
    position: absolute;
    top: 70px;
    left: 130px;
    font-family: 'OTTIS_Titulo5'; 
    color: white;
    font-size: 12px;
    z-index: 1;
}
.icono2{
    position: absolute;
    top: 35px;
    left: 760px;
    width: 30%;
}

.buscar{
    position: absolute;
    top: 110px;
    left: 720px;
    z-index: 2;
    width: 185px;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    background-color: #AE032F;
    height: 25px;
    color: white;
    font-family: 'OTTIS_Titulo4';
}

.buscar2{
    position: absolute;
    top: 110px;
    left: 910px;
    z-index: 2;
    border-radius: 7px;
    width: 70px;
    background-color: #00528d;
    height: 25px;
    border-style: solid;
    border-color: #00528d;
    padding: 0px 0px 0px 0px;
    color: white;
}

.texto7{
    position: absolute;
    top: 116px;
    left: 130px;
    font-family: 'OTTIS_Titulo5'; 
    color: white;
    font-size: 15px;
    z-index: 1;
}
.texto8{
    position: absolute;
    top: 80px;
    left: 860px;
    font-family: 'OTTIS_Titulo6'; 
    color: white;
    font-size: 17px;
    z-index: 1;
}
.texto9{
    position: absolute;
    top: 100px;
    left: 860px;
    font-family: 'OTTIS_Titulo6'; 
    color: white;
    font-size: 24px;
    z-index: 1;
}

.caja_gris{
    position: relative;
    background-color: rgb(216, 214, 214);
    height: 200px;
}

.silvia{
    position: absolute;
    top: 510px;
    left: 355px;
    width: 47%;
} */

/* ---------------- */


