.logo{
    padding-left: 40px;
}

.navbar-nav a{    
    font-size: 15px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.navbar-nav a:hover{
    color: #00529b;
}
nav{
    background: linear-gradient(90deg,white,transparent);
}
