.footer-media-ottis{
    background-color: #00375F;
    color: white;
    text-decoration:none;
}
.footer-ottis{
    background-color: #00528d;
    color: white;
    text-decoration:none;
}
#enlace-ottis{
    text-decoration:none;
}
.contacto{
    background-color: transparent;
    border: none;
    position: fixed;
    max-width: 80%!important;
    width: 7rem;
    height: auto;
    bottom: 100px;
    right: 10px;
    /* color: #fff; */
    border-radius: 50px;
    z-index: 100;
}