/* .refence_box{
    position: absolute;
    display: inline-block;
} */

@media (max-width:768px) and (min-width:150px){
.wellcome{
    position: absolute;
    top: 19vw;
    font-family: 'OTTIS_Titulo1'; 
    color: white;
    font-size: 8vw; 
}
.name{
    position: absolute;
    top: 26.5vw;
    font-family: 'OTTIS_Titulo2'; 
    color: white;
    font-size: 3.5vw;
}
.resource_red{
    position: absolute;
    top: 27.5vw;
    width: 40vw;
    height: 7vw;
}

}
.wellcome2{
    position: absolute;
    top: 10vw;
    font-family: 'OTTIS_Titulo1'; 
    color: white;
    font-size: 6vw; 
}

.name2{
    position: absolute;
    top: 16vw;
    font-family: 'OTTIS_Titulo2'; 
    color: white;
    font-size: 2.8vw;
}

.resource_red2{
    position: absolute;
    top: 17vw;
    width: 28vw;
    height: 6vw;
}

.description{
    position: absolute;
    top: 22vw;
    font-family: 'OTTIS_Titulo3'; 
    color: white;
    font-size: 1.5vw;
}

.red_box{
    position: relative;
    background-color: #AE032F;
    height: 12vw;
}


@media(min-width:768px){
.payment{
    position: absolute!important;
    top: 3vw;
    font-family: 'OTTIS_Titulo4'; 
    color: white;
    font-size: 2.7vw;
}

.debt{
    position: absolute!important;
    top: 3vw;
    font-family: 'OTTIS_Titulo4'; 
    color: white;
    font-size: 2.7vw;
}

.resource2{
    position: absolute!important;
    width: 14vw;
    left: 3vw;
    top: 3.5vw;
}

.resource3{
    position: absolute!important;
    width: 14vw;
    left: 1vw;
    top: 3.5vw;
}

.id_number{
    position: absolute!important;
    top: 6.5vw;
    left: 3vw;
    z-index: 2;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    background-color: #AE032F;
    height: 2vw;
    color: white;
    font-family: 'OTTIS_Titulo4';
}

.search{
    position: absolute!important;
    top: 6.5vw;
    left: 3.5vw;
    z-index: 2;
    font-size: 1.2vw;
    border-radius: 7px;
    background-color: #00528d;
    height: 2vw;
    padding: 0px 0px 0px 0px;
    color: white;
}


}

@media(max-width:768px){
.payment2{
    position: absolute!important;
    top: 18vw;
    left: 1vw;
    text-align: center;
    font-family: 'OTTIS_Titulo4'; 
    color: white;
    font-size: 6vw;
}

.debt2{
    position: absolute!important;
    top: 3vw;
    left: 1vw;
    text-align: center;
    font-family: 'OTTIS_Titulo4'; 
    color: white;
    font-size: 6vw;
}

.red_box{
    position: relative;
    background-color: #AE032F;
    height: 28vw;
}

.resource2_2{
    position: absolute!important;
    width: 30vw;
    top: 4vw;
}

.resource3_2{
    position: absolute!important;
    width: 30vw;
    top: 19vw;
}

.id_number2{
    position: absolute!important;
    top: 11vw;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    background-color: #AE032F;
    height: 4.5vw;
    color: white;
    font-family: 'OTTIS_Titulo4';
}
.search2{
    position: absolute!important;
    top: 11vw;
    left: 3.5vw;
    font-size: 3vw;
    border-radius: 7px;
    background-color: #00528d;
    height: 4.5vw;
    padding: 0px 0px 0px 0px;
    color: white;
}

}

.white_box{
    position: relative;
    background-color: white;
    height: 14vw;
}

.icon1{
    position: absolute!important;
    top: 4vw;
    left: 25px;
    width: 26%;
}

.icon2{
    position: absolute!important;
    top: 4vw;
    left: 11%;
    width: 30%;
}

.silvia{
    position: absolute!important;
    top: 7%;
    left: 80px;
    height: 210%;
    z-index: 1;
}


.grey_box{
    position: relative;
    background-color: rgb(216, 214, 214);
    height: 14vw;
}

.pay{
    position: absolute!important;
    top: 4vw;
    width: 5vw;
    left: 4vw;
}
.text_pay{
    position: absolute!important;
    top: 4vw;
    left: 9.5vw;
    color: grey;
    font-family: 'OTTIS_Titulo5';
    font-size: 2.2vw;
}

@media(min-width:1400px){

    .efecty-left{
        position: absolute!important;
        border-radius: 5px;
        top: 3vw;
        left: 24vw;
        width: 5.5vw;
    }
    .agreement-left{
        position: absolute!important;
        background-color: #00528d;
        left: 29.5vw;
        top: 3.2vw;
        height: 6.5vw;
        width: 11vw;
        border-radius: 0px 5px 5px 0px; 
    }
    .my_pay-left{
        position: absolute!important;
        border-radius: 5px;
        width: 9vw;
        left: 45vw;
        top: 3.5vw;
    }
    
    .pay_line-left{
        position: absolute!important;
        background-color: #00528d;
        height: 5vw;
        width: 10vw;
        border-radius: 0px 5px 5px 0px;
        left: 54vw;
        top: 3.8vw;
    }
    
}

.efecty{
    position: absolute!important;
    border-radius: 5px;
    top: 3vw;
    left: 32vw;
    width: 5.5vw;
    
}

.agreement{
    position: absolute!important;
    background-color: #00528d;
    left: 37.5vw;
    top: 3.2vw;
    height: 6.5vw;
    width: 11vw;
    border-radius: 0px 5px 5px 0px; 
}
.text_efecty{
    position: absolute!important;
    color: white;
    margin-top: 0.5vw;
    margin-left: 2.75vw;
    font-size: 2vw;
    font-family: 'OTTIS_Titulo5';
}
.text_efecty2{
    position: absolute!important;
    margin-top: 2.5vw;
    margin-left: 2.1vw;
    color: white;
    font-size: 1.3vw;
    font-family: 'OTTIS_Titulo5';
}
.text_efecty3{
    position: absolute!important;
    margin-top: 3.7vw;
    margin-left: 0.9vw;
    color: white;
    font-size: 1.2vw;
    font-family: 'OTTIS_Titulo3';
}

.my_pay{
    position: absolute!important;
    border-radius: 5px;
    width: 9vw;
    left: 60vw;
    top: 3.5vw;
}

.pay_line{
    position: absolute!important;
    background-color: #00528d;
    height: 5vw;
    width: 10vw;
    border-radius: 0px 5px 5px 0px;
    left: 69vw;
    top: 3.8vw;
}
.text_pay_line{
    position: absolute!important;
    color: white;
    margin-top: 0.5;
    margin-left: 1.2vw;
    font-size: 1.8vw;
    font-family: 'OTTIS_Titulo5';
}
.text_pay_line2{
    position: absolute!important;
    margin-top: 1.7vw;
    margin-left: 2.2vw;
    color: white;
    font-size: 2.3vw;
    font-family: 'OTTIS_Titulo5';
}

@media(max-width:768px){
    .white_box{
        position: relative;
        background-color: white;
        height: 40vw;
    }
        
    
    .icon3{
        position: absolute!important;
        top: 10%;
        width: 70%;
        left: 15%;
    }
    
    .icon4{
        position: absolute!important;
        top: 55%;
        left: 15%;
        width: 70%;
    }  
}
    
@media(max-width:768px){
    
    .grey_box{
        position: relative;
        background-color: rgb(216, 214, 214);
        height: 100vw;
    }
    
    .pay1{
        position: absolute!important;
        top: 10%;
        width: 18vw;
        left: 22%;
    }
    
    .text_pay1{
        position: absolute!important;
        top: 10%;
        left: 43%;
        color: grey;
        font-family: 'OTTIS_Titulo5';
        font-size: 8vw;
    }
    
    .efecty1{
        position: absolute!important;
        border-radius: 5px;
        top: 40%;
        left: 22%;
        width: 18vw;        
    }    
    
    .agreement1{
        position: absolute!important;
        background-color: #00528d;
        height: 19%;
        width: 40%;
        border-radius: 0px 5px 5px 0px;
        left: 41%;
        top: 42%;       
    }
    
    .text_efecty_sm{
        position: absolute!important;
        color: white;
        margin-top: 5%;
        margin-left: 32%;
        font-size: 6vw;
        font-family: 'OTTIS_Titulo5';
    }
    
    .text_efecty2_sm{
        position: absolute!important;
        margin-top: 20%;
        margin-left: 20%;
        color: white;
        font-size: 4.5vw;
        font-family: 'OTTIS_Titulo5';
    }
    
    .text_efecty3_sm{
        position: absolute!important;
        margin-top: 32%;
        margin-left: 16%;
        color: white;
        font-size: 3.7vw;
        font-family: 'OTTIS_Titulo3';
    }
        
    .my_pay1{
        position: absolute!important;
        border-radius: 5px;
        width: 28vw;
        left: 16%;
        top: 73%;
    }
        
    .pay_line1{
        position: absolute!important;
        background-color: #00528d;
        height: 15%;
        width: 40%;
        border-radius: 0px 5px 5px 0px;
        left: 46%;
        top: 74%;
    }
    
    .text_pay_line_sm{
        position: absolute!important;
        color: white;
        margin-top: 2%;
        margin-left: 22%;
        font-size: 5vw;
        font-family: 'OTTIS_Titulo5';
    }
    
    .text_pay_line2_sm{
        position: absolute!important;
        margin-top: 15%;
        margin-left: 26%;
        color: white;
        font-size: 7vw;
        font-family: 'OTTIS_Titulo5';
    }
}
    

.blue_box{
    position: relative;
    background-color: #001c51;
    height: 47vw;
}

.img_group{
    position: absolute!important;
    top: 2%;
    left: 30%;
    width: 70%;
    z-index: 1;
}

.apps{
    position: absolute!important;
    top: 7%;
    width: 4%;
}

.text_name{
    position: absolute!important;
    top: 40%;
    font-family: 'OTTIS_Titulo4'; 
    color: white;
    font-size: 5vw; 
}

.text_Internet{
    position: absolute!important;
    top: 50%;
    font-family: 'OTTIS_Titulo6'; 
    color: white;
    font-size: 2vw;
}

.resource_red3{
    position: absolute!important;
    top: 51%;
    width: 26%;
    height: 8%;
}

.description2{
    position: absolute!important;
    top: 60%;
    font-family: 'OTTIS_Titulo3'; 
    color: white;
    font-size: 1.1vw;
}

@media(max-width:768px){
    .text_name{
        position: absolute!important;
        top: 5vw;
        left: 20vw;
        font-family: 'OTTIS_Titulo4'; 
        color: white;
        font-size: 8vw; 
    }
    
    .text_Internet{
        position: absolute!important;
        top: 12vw;
        left: 20vw;
        font-family: 'OTTIS_Titulo6'; 
        color: white;
        font-size: 5vw;
    }

    .resource_red3{
        position: absolute!important;
        top: 15vw;
        width: 40vw;
        left: 27vw;
        height: 6vw;
    }

    .description2{
        position: absolute!important;
        top: 22vw;
        left: 2vw;
        font-family: 'OTTIS_Titulo3'; 
        color: white;
        font-size: 2.7vw;
    }
}


.text_exclusive{
    color: white;
    position: absolute!important;
    top: 75%;
    left: 34%;
    font-family: 'OTTIS_Titulo5';
    font-size: 2.7vw;
}
.cloud{
    position: absolute!important;
    width: 40%;
    top: 32%;
    left: 23%;
    z-index: 2;
}

.cloud2{
    position: absolute!important;
    width: 45%;
    top: 1%;
    z-index: 0;
    left: 31%;
}

.cloud3{
    position: absolute!important;
    width: 25%;
    top: 5%;
    z-index: 2;
    left: 65%;
}

.cloud4{
    position: absolute!important;
    width: 54%;
    top: 25%;
    z-index: 0;
    left: 46%;
}

.cloud5{
    position: absolute!important;
    width: 54%;
    top: 1%;
    z-index: 0;
    left: 52%;
}



.float_box1{
    position: absolute!important;
    background-color: white;
    height: 6vw;
    width: 14vw;
    bottom: -3vw;
    z-index: 2;
    border-radius: 20px;
}

.float_box2{
    position: absolute!important;
    background-color: white;
    height: 6vw;
    width: 14vw;
    bottom: -3vw;
    z-index: 2;
    border-radius: 20px;
}

.float_box3{
    position: absolute!important;
    background-color: white;
    height: 6vw;
    width: 14vw;
    bottom: -3vw;
    z-index: 2;
    border-radius: 20px;
}
.exclu_text_1{
    color: #00528d;
    font-size: 0.8vw;
    text-align: center;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.exclu_text_2{
    color: #00528d;
    font-size: 1.2vw;
    text-align: center;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.exclu_text_3{
    color: #00528d;
    font-size: 1.2vw;
    text-align: center;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.exclusive{
    position: relative;
    background-color: rgb(231, 231, 231);
    height: 35vw;
}

.silvia_exclu{
    position: absolute!important;
    width: 30vw;
    left: 4vw;
    bottom: -2.7vw;
    z-index: 1;
}

.par_exclusive{
    position: absolute!important;
    color: #00528d;
    top: 10.2vw;
    font-size: 1.4vw;
    font-family: 'OTTIS_Titulo3';
}

.title_exclusive{
    position: absolute!important;
    color: #00528d;
    top: 8vw;
    font-size: 2vw;
    font-family: 'OTTIS_Titulo5';
}

.register{
    position: absolute!important;
    top: 26vw;
    z-index: 2;
    width: 11vw;
    font-size: 1.2vw;
    border-radius: 15px;
    background-color: #00528d;
    height: 4vw;
    color: white;
    padding: 5px;
}

@media(max-width:768px){

    .exclusive{
        position: relative;
        background-color: rgb(231, 231, 231);
        height: 120vw;
    }

    .title_exclusive{
        position: absolute!important;
        color: #00528d;
        top: 5vw;
        left: -23vw;
        font-size: 5vw;
        font-family: 'OTTIS_Titulo5';
    }

    .float_box1{
        position: absolute!important;
        background-color: white;
        height: 14vw;
        width: 48vw;
        bottom: -28vw;
        z-index: 2;
        border-radius: 20px;
    }
    
    .float_box2{
        position: absolute!important;
        background-color: white;
        height: 14vw;
        width: 48vw;
        bottom: -46vw;
        z-index: 2;
        border-radius: 20px;
    }
    
    .float_box3{
        position: absolute!important;
        background-color: white;
        height: 14vw;
        width: 48vw;
        bottom: -64vw;
        z-index: 2;
        border-radius: 20px;
    }
    .exclu_text_1{
        color: #00528d;
        font-size: 2.8vw;
        text-align: center;
        margin-top: 1vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    
    .exclu_text_2{
        color: #00528d;
        font-size: 4vw;
        text-align: center;
        margin-top: 1vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    
    .exclu_text_3{
        color: #00528d;
        font-size: 4vw;
        text-align: center;
        margin-top: 1vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .par_exclusive{
        position: absolute!important;
        color: #00528d;
        top: 70vw;
        left: -27vw;
        font-size: 3vw;
        font-family: 'OTTIS_Titulo3';
    }

    .register{
        position: absolute!important;
        top: 105vw;
        z-index: 2;
        width: 25vw;
        font-size: 2.5vw;
        left: -12vw;
        border-radius: 15px;
        background-color: #00528d;
        height: 10vw;
        color: white;
        padding: 5px;
    }

}

.attention_channel{
    position: relative;
    background-color: rgb(180, 180, 180);
    height: 40vw;

}

.channel_text{
    color: white;
    font-size: 3.5vw;
    font-family: 'OTTIS_Titulo3';
    text-align: center;
    padding-top: 4%;
}
.pbx_text{
    color: white;
    font-size: 2vw;
    font-family: 'OTTIS_Titulo4';
    text-align: center;
}

.bill_and_admon{
    position: absolute!important;
    background-color: white;
    border-top: 5vw solid rgb(231, 231, 231);
    height: 25vw;
    width: 23vw;
    left: 30vw;
    top: 12vw;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    z-index: 2;
}
.contact_whatsapp{
    position: absolute!important;
    background-color: #AE032F;
    height: 5vw;
    width: 40vw;
    border-radius: 10px;
    top: 30vw;
    left: 16vw;
    box-shadow: 10px 10px 10px grey;
    z-index: 3;
}

.text_admon{
    color: rgb(129, 129, 129);
    font-size: 1.8vw;
    font-family: 'OTTIS_Titulo5';
    text-align: center;
    margin-top: -90px;

    
}

.text_schedule{
    color: rgb(129, 129, 129);
    font-size: 1.5vw;
    font-family: 'OTTIS_Titulo5';
    text-align: center;
    padding-top: 12px;
}
.text_whatsapp{
    color: white;
    font-size: 2.7vw;
    font-family: 'OTTIS_Titulo3';
    text-align: center;
    padding-top: 12px;
}

.text_whatsapp_trade{
    color: white;
    font-size: 1.9vw;
    font-family: 'OTTIS_Titulo3';
    text-align: center;
    padding-top: 25px;
}

.silvia_channel{
    position: absolute!important;
    width: 25vw;
    left: 1.3vw;
    top: 9.3vw;
    z-index: 1;
}
@media(min-width:1400px) and (max-width:1669px){
    .text_admon{
        margin-top: -70px;
    }

}
@media(min-width:1200px) and (max-width:1400px){
    .text_admon{
        margin-top: -60px;
    }
    .silvia_channel{
        position: absolute!important;
        width: 25vw;
        left: 3.4vw;
        top: 9.3vw;
    }
    .bill_and_admon{
        position: absolute!important;
        background-color: white;
        border-top: 5vw solid rgb(231, 231, 231);
        height: 25vw;
        width: 23vw;
        left: 34vw;
        top: 12vw;
        border-radius: 15px;
        box-shadow: 10px 10px 10px grey;
        z-index: 2;
    }
    .contact_whatsapp{
        position: absolute!important;
        background-color: #AE032F;
        height: 5vw;
        width: 40vw;
        border-radius: 10px;
        top: 30vw;
        left: 20vw;
        box-shadow: 10px 10px 10px grey;
        z-index: 3;
    }

}

@media(min-width:992px) and (max-width:1200px){
    .text_admon{
        color: rgb(129, 129, 129);
        font-size: 1.6vw;
        font-family: 'OTTIS_Titulo5';
        text-align: center;
        margin-top: -50px;
        
    }

    .silvia_channel{
        position: absolute!important;
        width: 25vw;
        left: 3vw;
        top: 9.3vw;
        z-index: 1;
    }
    .bill_and_admon{
        position: absolute!important;
        background-color: white;
        border-top: 5vw solid rgb(231, 231, 231);
        height: 25vw;
        width: 23vw;
        left: 34vw;
        top: 12vw;
        border-radius: 15px;
        box-shadow: 10px 10px 10px grey;
        z-index: 2;
    }
    .contact_whatsapp{
        position: absolute!important;
        background-color: #AE032F;
        height: 5vw;
        width: 40vw;
        border-radius: 10px;
        top: 30vw;
        left: 20vw;
        box-shadow: 10px 10px 10px grey;
        z-index: 3;
    }

}

@media(min-width:768px) and (max-width:992px){
    .text_admon{
        color: rgb(129, 129, 129);
        font-size: 1.5vw;
        font-family: 'OTTIS_Titulo5';
        text-align: center;
        margin-top: -38px;
        
    }

    .silvia_channel{
        position: absolute!important;
        width: 25vw;
        left: 4vw;
        top: 9.3vw;
        z-index: 1;
    }
    .bill_and_admon{
        position: absolute!important;
        background-color: white;
        border-top: 5vw solid rgb(231, 231, 231);
        height: 25vw;
        width: 23vw;
        left: 34vw;
        top: 12vw;
        border-radius: 15px;
        box-shadow: 10px 10px 10px grey;
        z-index: 2;
    }
    .contact_whatsapp{
        position: absolute!important;
        background-color: #AE032F;
        height: 5vw;
        width: 40vw;
        border-radius: 10px;
        top: 30vw;
        left: 20vw;
        box-shadow: 10px 10px 10px grey;
        z-index: 3;
    }

}

@media(max-width:768px){
    .attention_channel{
        position: relative;
        background-color: rgb(180, 180, 180);
        height: 80vw;
    
    }
    .channel_text{
        color: white;
        font-size: 6vw;
        font-family: 'OTTIS_Titulo3';
        text-align: center;
        padding-top: 4%;
    }
    .pbx_text{
        color: white;
        font-size: 4vw;
        font-family: 'OTTIS_Titulo4';
        text-align: center;
    }
    
    .bill_and_admon{
        position: absolute!important;
        background-color: white;
        border-top: 8vw solid rgb(231, 231, 231);
        height: 45vw;
        width: 34vw;
        left: 38vw;
        top: 24vw;
        border-radius: 15px;
        box-shadow: 10px 10px 10px grey;
        z-index: 2;
    }
    .contact_whatsapp{
        position: absolute!important;
        background-color: #AE032F;
        height: 8vw;
        width: 55vw;
        border-radius: 10px;
        top: 56vw;
        left: 20vw;
        box-shadow: 10px 10px 10px grey;
        z-index: 3;
    }
    
    .text_admon{
        color: rgb(129, 129, 129);
        font-size: 3vw;
        font-family: 'OTTIS_Titulo5';
        text-align: center;
        margin-top: -28px;
        
    }
    
    .text_schedule{
        color: rgb(129, 129, 129);
        font-size: 2.8vw;
        font-family: 'OTTIS_Titulo5';
        text-align: center;
        padding-top: 1px;
    }
    .text_whatsapp{
        color: white;
        font-size: 3.8vw;
        font-family: 'OTTIS_Titulo3';
        text-align: center;
        padding-top: 7px;
    }
    
    .silvia_channel{
        position: absolute!important;
        width: 35vw;
        left: -0.7vw;
        top: 27vw;
        z-index: 1;
    }
}

.text_support{
    color: rgb(129, 129, 129);
    font-size: 2vw;
    font-family: 'OTTIS_Titulo5';
    text-align: center;
    margin-top: -70px;
    
}

.text_schedule_sup{
    color: rgb(129, 129, 129);
    font-size: 1.5vw;
    font-family: 'OTTIS_Titulo5';
    text-align: center;
    padding-top: 30px;
}

@media(min-width:1400px) and (max-width:1669px){
    .text_support{
        margin-top: -58px;
    }

}

@media(min-width:1200px) and (max-width:1400px){
    .text_support{
        margin-top: -50px;
    }

}

@media(min-width:992px) and (max-width:1200px){
    .text_support{
        margin-top: -43px;
    }

}

@media(min-width:768px) and (max-width:992px){
    .text_support{
        margin-top: -32px;
    }

    .text_schedule_sup{
        padding-top: 15px;
    }

}

@media(max-width:768px){
    .text_support{
        margin-top: -20px;
        font-size: 3vw;

    }

    .text_schedule_sup{
        padding-top: 10px;
        font-size: 2.45vw;
    }

}

.text_trade{
    color: rgb(129, 129, 129);
    font-size: 2vw;
    font-family: 'OTTIS_Titulo5';
    text-align: center;
    margin-top: -90px;
    
}

.text_schedule_trade{
    color: rgb(129, 129, 129);
    font-size: 1.5vw;
    font-family: 'OTTIS_Titulo5';
    text-align: center;
    padding-top: 15px;
}

.carousel-inner{
    background-color:  rgb(180, 180, 180);;
    height: 28vw;
}

@media(min-width:1400px) and (max-width:1669px){
    .text_trade{
        margin-top: -75px;
    }

}

@media(min-width:1200px) and (max-width:1400px){
    .text_trade{
        margin-top: -63px;
    }
    .text_schedule_trade{
        padding-top: 8px;
    }

}

@media(min-width:992px) and (max-width:1200px){
    .text_trade{
        margin-top: -55px;
    }
    .text_schedule_trade{
        padding-top: 4px;
    }
    .text_whatsapp_trade{
        padding-top: 15px;
    }

}

@media(min-width:768px) and (max-width:992px){
    .text_trade{
        margin-top: -42px;
    }

    .text_schedule_trade{
        padding-top: 2px;
    }
    .text_whatsapp_trade{
        padding-top: 10px;
    }

}

@media(max-width:768px){
    .text_trade{
        margin-top: -28px;
        font-size: 3vw;
    }

    .text_schedule_trade{
        padding-top: 1px;
        font-size: 2.8vw;
    }
    .text_whatsapp_trade{
        padding-top: 10px;
        font-size: 2.6vw;
    }

    .carousel-inner{
        background-color:  rgb(180, 180, 180);;
        height: 54vw;
    }

}


.machete{
    bottom: 10vw;
}

@media(min-width:1200px) and (max-width:1669px){
    .machete{
        bottom: 11vw;
    }

}

@media(min-width:992px) and (max-width:1200px){
    .machete{
        bottom: 11.5vw;
    }
}

@media(min-width:768px) and (max-width:992px){
    .machete{
        bottom: 11.5vw;
    }
}

@media(max-width:768px){
    .machete{
        bottom: 20vw;
    }

}


/* ---------------- */

