.wellcome{
    /* margin-top: 7%; */
    position: absolute;
    top: 20vw;
    font-family: 'OTTIS_Titulo1';
    color: white;
    margin-bottom: 8%;
}
/* .titulo{
    margin-top: 70%;
    background-color: aqua;
} */
.nosotros{
    background:linear-gradient(to right, #00528D, #001C51);
    padding-top: 2%;
    height: 500px;

}
.text-1{
    font-family: 'OTTIS';
    color: white;
    text-align: justify;
    padding-right: 10%;
    padding-left: 5%;
    padding-top: 5%;
}
.text-2{
    text-align: center;
    font-family: 'OTTIS';
    color: #00718d;
}
.sub-title{
    padding-top: 5%;
    font-family: 'OTTIS_Titulo1';
    color: white;
    text-align: center;
}

img.vehiculos{
    opacity: 0.5;
}
.img-mision{
    background-size: cover;
    /* height: 100vh; */
    /* background-repeat: no-repeat; */
    min-height: 80vh;
    max-height: 100vh;

}
.img-vision{
    /* background-image: url("../imagenes/nosotros/Mesa_de_trabajo_5.png"); */
    background-size: cover;
    /* height: 100vh; */
    /* background-repeat: no-repeat; */
    min-height: 80vh;
    max-height: 100vh;

}
.operativo{
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    height: 500px;
    min-height: 250px;
}
.img-cracks{
    margin-top: 2%;
    /* height: 500px;
    min-height: 250px; */
    /* height: 500px; */
    z-index: -3;
    /* position: absolute; */
}
.administrativo{
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    height: 500px;
    min-height: 250px;
}
.img-administrativo{
    margin-top: 2%;
    /* height: 500px;
    min-height: 250px; */
    /* height: 500px; */
    z-index: -3;
    /* position: absolute; */
}
.tarjeta-mision{
    background-color: #001C51;
    position: relative;
    height: 450px;
    z-index: 3;
}
.tarjeta-vision{
    background-color: #001C51;
    position: relative;
    height: 450px;
    z-index: 3;
}


@media(min-width:1201px) {
    .tarjeta-mision{
        margin-top: -15%;
        margin-left: 55%;
        margin-right: 5%;
        width: 400px;
        height: 380px;
    }
    .tarjeta-vision{
        margin-top: -15%;
        margin-left: 15%;
        width: 400px;
        height: 380px;
    }
    .img-cracks{
        padding-left: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
        height: 600px;
        min-height: 250px;
        /* height: 500px; */
        z-index: 3;
        /* position: absolute; */
    }
    .img-administrativo{
        padding-left: 18%;
        padding-top: 5%;
        padding-bottom: 5%;
        height: 600px;
        min-height: 250px;
        /* height: 500px; */
        z-index: 3;
        /* position: absolute; */
    }
}
@media(max-width:1200px) and (min-width:991px) {
    .nosotros{
        height: 100%;
    }
    .tarjeta-mision{
        margin-top: -37%;
        margin-left: 55%;
        margin-right: 5%;
        width: 320px;
    }
    .tarjeta-vision{
        margin-top: 37%;
        
    }
}
@media (max-width:991px) {
    .nosotros{
        height: 300px;
    }
    .tarjeta-mision{
        margin-top: -45%;
        margin-left: 20%;
        margin-right: 5%;
        align: center;
        width: 420px;
    }
    .tarjeta-vision{
        margin-top: -45%;
        margin-left: 20%;
        margin-right: 5%;
        align: center;
        width: 420px;
    }
}
@media (max-width:769px) {
    .nosotros{
        height: 100%;
    }
    .tarjeta-mision{
        margin-top: -90%;
        margin-left: 10%;
        width: 300px;
    }
    .tarjeta-vision{
        margin-top: -90%;
        margin-left: 10%;
        width: 300px;
    }
}
