@font-face {
    font-family: 'OTTIS_Titulo1';
    src: url('../tipografias/MADE TOMMY ExtraBold_PERSONAL USE.otf');
}
@font-face {
    font-family: 'OTTIS_Titulo2';
    src: url('../tipografias/MADE TOMMY ExtraBold_PERSONAL USE.otf');
}
.caja{
    position: relative;
    display: inline-block;
}

.texto1{
    position: absolute;
    top: 180px;
    left: 150px;
    font-family: 'OTTIS_Titulo1'; 
    color: white;
    font-size: 75px;
}

.texto2{
    position: absolute;
    top: 260px;
    left: 150px;
    font-family: 'OTTIS_Titulo2'; 
    color: white;
    font-size: 30px;
}

.recurso1{
    position: absolute;
    top: 260px;
    left: 190px;
    width: 33%;
}