.wellcome{
    margin-top: 80%;
    position: absolute;
    top: 20vw;
    font-family: 'OTTIS_Titulo1'; 
    color: white;
    font-size: "15"; 
}
.titulo{
    margin-top: 70%;
    background-color: aqua;
}