
.logo{
    padding-left: 2vw;
    width: 15%;
}

.navbar-nav a{    
    font-size: 1vw;
    color: white;
    font-family: 'OTTIS';
}
.navbar-nav a:hover{
    color: #00529b;
}
nav{
    background: linear-gradient(90deg, white,transparent);
}
