.contact{
    background-color: transparent;
    border: none;
    position: fixed;
    max-width: 80%!important;
    width: 7rem;
    height: auto;
    bottom: 25px;
    right: 10px;
    /* color: #fff; */
    border-radius: 50px;
    z-index: 100;
    
}
