<a new target="_blank" class="contacto" type="button"  href="https://api.whatsapp.com/send/?phone=573212893978&text&type=phone_number&app_absent=0">
  <img src="./iconos/contacto.svg" alt="">
</a>   
<!-- <a href="#" class="link-whatsapp">
  <img src="./iconos/apps_1.svg" alt="">
  hola
</a> -->
<!-- Banner -->
<div class="container">
  <img src="./imagenes/home/banner.png" class="img-fluid" width="100%" alt="">
</div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    
    <!-- Section: Links  -->
    <section class="footer-ottis">
      <br>
      <div class="container text-center text-md-start mt-5 pad">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              OTTIS Comunicaciones
            </h6>
                <p>
                    <a href="#" id="enlace-ottis" class="text-reset" >Empresa</a>
                </p>
                <p>
                    <a href="#" id="enlace-ottis" class="text-reset ">Normatividad</a>
                </p>
                <p>
                    <a href="#" id="enlace-ottis" class="text-reset">Mide tu velocidad</a>
                </p>
                <p>
                    <a href="#" id="enlace-ottis" class="text-reset">Contáctanos</a>
                </p>
                <p>c.
                    <a href="#" id="enlace-ottis" class="text-reset">Contáctanos</a>
                </p>
                
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Herramientas y Tips!
            </h6>
            <p>
              <a href="#" id="enlace-ottis" class="text-reset" >Registrar PQR</a>
            </p>
            <p>
                <a href="#" id="enlace-ottis" class="text-reset ">Califica nuestro servicio</a>
            </p>
            <p>
                <a href="#" id="enlace-ottis" class="text-reset">OTTIS contra la explotación infantil</a>
            </p>
            <p>
                <a href="#" id="enlace-ottis" class="text-reset">EnTicConfio</a>
            </p>
            <p>
              <a href="#" id="enlace-ottis" class="text-reset">Te Protejo</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Historias OTTIS
            </h6>
            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contáctanos</h6>
            <p><b>oficina Principal</b></p>
            <p>
              Cra 16 A # 13 A -19
              Sogamoso - Boyacá
            </p>
            <p><b>Números de Contacto:</b></p>
            <p> <b>PBX: </b> 6017943254 - 6019172166</p>
            <p> <b>WhatsApp: </b> 3204995482 - 32260931c.07</p>
            <p> <b>Email: </b> comercial@ottis.com.co</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4 footer-media-ottis" >
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <p><b> © 2021 Copyright by Hit Data s.a.s</b> </p>
                </div>
                <div class="col-4">
                  <p><b>Carlos Gonzalez & Alejandro Aviles</b> </p>
              </div>
                <div class="col-4">
                    <a href="https://www.facebook.com/ottiscomunica" >
                        <img src="./iconos/facebook.svg" height="40px">
                    </a>
                    <a href="#" >
                        <img src="./iconos/instagram.svg" height="40px">
                    </a>
                    <a href="#" >
                        <img src="./iconos/twiter.svg" height="40px">
                    </a>
                    <a href="#" >
                        <img src="./iconos/whatsApp_1.svg" height="40px">
                    </a>
                </div>
                
            </div>
        </div>
     
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  <script src="./Boostrap5.2.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>  