<div class="container col-12 fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark" aria-label="Fourth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="home.php">
                <img src="./iconos/logo_ottis.png"  style="width: 100px; height: 40px;" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample" aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse justify-content-end" id="navbarsExample">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-item nav-link " href="index.php"><b>Inicio</b> </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <b>Empresa</b> 
                          </a>
                          <ul class="dropdown-menu" style="background-color: transparent; border:none" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="nosotros.php"><b>Nosotros</b></a></li>
                            <li><a class="dropdown-item" href="cobertura.php"><b>Cobertura</b></a></li>
                            <li><a class="dropdown-item" href="planes.php"><b>Planes</b></a></li>
                            <li><a class="dropdown-item" href="test.php"><b>Mide tu velocidad</b></a></li>
                            <li><a class="dropdown-item" href="archivos/Brouchure.pdf" target="_blank"><b>Catalogo de servicios</b></a></li>
                          </ul>
                        <!-- <a class="nav-item nav-link " href="Informacion-de-usuarios">Información de usuarios</a> -->
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Empresa
                          </a>
                          <ul class="dropdown-menu" style="background-color: transparent;" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="nosotros.php">Nosotros</a></li>
                            <li><a class="dropdown-item" href="cobertura.php">Cobertura</a></li>
                            <li><a class="dropdown-item" href="planes.php">Planes</a></li>
                            <li><a class="dropdown-item" href="test.php">Mide tu velocidad</a></li>
                            <li><a class="dropdown-item" href="archivos/Brouchure.pdf" target="_blank">Catalogo de servicios</a></li>
                          </ul>
                        <a class="nav-item nav-link " href="nosotros.php">Em</a>
                    </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <b>Información de usuarios</b> 
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                          </ul>
                        <!-- <a class="nav-item nav-link " href="Informacion-de-usuarios">Información de usuarios</a> -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link " href="comunicaciones.php"><b>Comuniciones</b></a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-item nav-link " href="Mide-tu-velocidad"><b>Mide tu velocidad</b></a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-item nav-link " href="contacto.php"><b>Contactanos</b></a>
                    </li>
                </ul>
            </div>
        </div>
      </nav>
</div> 